.App {
  display: grid;
  grid-template-columns: 15.5vw auto;
}

.App-link {
  color: #61dafb;
}

.main-content {
  display: grid;
  height: 100vh;
  grid-template-rows: 72px auto;
  overflow: hidden;
}

.main-content__main {
  background-color: #e5e5e5;
  /* overflow-y: scroll; */
  display: grid;
  grid-template-rows: 72px auto;
}
